@model List<SysSoniaInventory.Models.ModelProduct>

<div class="list-group">
    @foreach (var producto in Model)
    {
        <a href="#" class="list-group-item list-group-item-action">
            @producto.Name - Código: @producto.Codigo - Stock: @producto.Stock
        </a>
    }
</div>
