@model SysSoniaInventory.Models.ModelProduct

@{
    ViewData["Title"] = "Crear Producto";
}

<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">

            <form id="createProductForm" asp-action="Create" class="form-sample" enctype="multipart/form-data">
                <h3 class="card-title text-primary font-weight-bold">Crear Producto</h3>
                <hr class="linea-primary" />
                <div class="row">
                    <!-- Fila 1: Categoría y Proveedor -->
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" asp-for="IdCategory">Categoría:</label>
                            <div class="col-sm-9">
                                <select class="form-control text-light" asp-for="IdCategory" asp-items="ViewBag.IdCategory" required></select>
                                <span asp-validation-for="IdCategory" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" asp-for="IdProveedor">Proveedor:</label>
                            <div class="col-sm-9">
                                <select class="form-control text-light" asp-for="IdProveedor" asp-items="ViewBag.IdProveedor" required></select>
                                <span asp-validation-for="IdProveedor" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <!-- Fila 2: Nombre y Código -->
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" asp-for="Name">Nombre:</label>
                            <div class="col-sm-9">
                                <input type="text" maxlength="100" class="form-control" asp-for="Name" placeholder="Ingrese el nombre" required />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" asp-for="Codigo">Código:</label>
                            <div class="col-sm-9">
                                <input type="text" maxlength="25" class="form-control" asp-for="Codigo" placeholder="Ingrese el código de producto" />
                                <span asp-validation-for="Codigo" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <!-- Fila 3: Precio Compra y Precio Venta -->
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" asp-for="PurchasePrice">Precio Compra:</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" asp-for="PurchasePrice" placeholder="Ingrese el precio de compra" required />
                                <span asp-validation-for="PurchasePrice" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" asp-for="SalePrice">Precio Venta:</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" asp-for="SalePrice" placeholder="Ingrese el precio de venta" required />
                                <span asp-validation-for="SalePrice" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <!-- Fila 4: URL y Estatus -->
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" asp-for="Url">URL:</label>
                            <div class="col-sm-9">
                                <div class="input-group col-xs-12">
                                    <input type="file" name="imagen" class="file-upload-default" />
                                    <input type="text" class="form-control file-upload-info" disabled placeholder="Subir Imagen" />
                                    <span class="input-group-append">
                                        <button class="file-upload-browse btn btn-primary" type="button">Subir</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" asp-for="Estatus">Estatus:</label>
                            <div class="col-sm-9">
                                <select class="form-control text-light" asp-for="Estatus">
                                    <option value="1" selected>Activo</option>
                                    <option value="0">Inactivo</option>
                                </select>
                                <span asp-validation-for="Estatus" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <!-- Fila 5: Stock y Reportar Stock Bajo -->
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" asp-for="Stock">Stock:</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control text-light" asp-for="Stock" placeholder="Ingrese la cantidad de stock" required />
                                <span asp-validation-for="Stock" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" asp-for="LowStock">Reportar Stock bajo:</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control text-light" asp-for="LowStock" value="10" placeholder="Reportar cuando stock llegue a..." required />
                                <span asp-validation-for="LowStock" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="linea-primary" />
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-outline-primary font-weight-bold" data-toggle="modal" data-target="#descriptionModal"><i class="mdi mdi-file-check btn-icon-prepend"></i>Guardar</button>
                    <a asp-action="Index" class="btn btn-outline-secondary font-weight-bold ml-2">Volver a la lista</a>
                </div>
            </form>


            <!-- Modal para Descripción de Cambios -->
            <div class="modal fade" id="descriptionModal" tabindex="-1" role="dialog" aria-labelledby="descriptionModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title font-weight-bold" id="descriptionModalLabel">Confirmar Acción</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="DescriptionCambio" class="h4">Descripción para el registro (opcional):</label>
                                <textarea class="form-control" maxlength="250" id="DescriptionCambio" name="DescriptionCambio" ></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-primary" onclick="submitForm()"><i class="mdi mdi-file-check btn-icon-prepend"></i>Guardar</button>
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>    
                        </div>
                    </div>
                </div>
            </div>

            <script>
                function submitForm() {
                    const descriptionField = document.getElementById('DescriptionCambio');
                    const descriptionValue = descriptionField.value.trim();

                    // Si la descripción está vacía, asignar "Sin descripción"
                    if (!descriptionValue) {
                        descriptionField.value = "Sin descripción";
                    }

                    // Enviar el formulario
                    const form = document.getElementById('createProductForm');
                    const input = document.createElement('input');
                    input.type = 'hidden';
                    input.name = 'DescriptionCambio';
                    input.value = descriptionField.value;

                    form.appendChild(input);
                    form.submit();
                }
            </script>
        </div>
    </div>
</div>
