@model SysSoniaInventory.Models.ModelProduct

@{
    ViewData["Title"] = "Eliminar Producto";
}

<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
           
            <form id="deleteProductForm" asp-action="Delete" class="form-sample">
                <div class="row">
                    <!-- Columna izquierda con los detalles del producto -->
                    <div class="col-md-6">
                        <div class="justify-content-center">
                             <h3 class="card-title font-weight-bold text-danger">Eliminar Producto</h3>
                        </div>
                        <hr class="linea-blanca"/>
                        
                        <!-- Categoría -->
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" asp-for="IdCategory">Categoría:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control readonly-input" asp-for="IdCategoryNavigation.Name" readonly />
                            </div>
                        </div>
                        <!-- Proveedor -->
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" asp-for="IdProveedor">Proveedor:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control readonly-input" asp-for="IdProveedorNavigation.Name" readonly />
                            </div>
                        </div>
                        <!-- Nombre -->
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" asp-for="Name">Nombre:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control readonly-input" asp-for="Name" readonly />
                            </div>
                        </div>
                        <!-- Código -->
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" asp-for="Codigo">Código:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control readonly-input" asp-for="Codigo" readonly />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="row mb-3">
                                    <!-- Sub-columna 1: Stock -->
                                    <div class="col-md-6 d-flex flex-column flex-md-row align-items-start align-items-md-center">
                                        <label class="form-label me-md-2 mb-1 mb-md-0 w-100 w-md-55" asp-for="Stock">Stock:</label>
                                        <input type="number" class="form-control w-100 w-md-45 readonly-input" asp-for="Stock" placeholder="Ingrese la cantidad de stock" readonly />
                                        <span asp-validation-for="Stock" class="text-danger mt-1 mt-md-0 ms-md-2"></span>
                                    </div>
                                    <!-- Sub-columna 2: LowStock -->
                                    <div class="col-md-6 d-flex flex-column flex-md-row align-items-start align-items-md-center">
                                        <label class="form-label me-md-2 mb-1 mb-md-0 w-100 w-md-55" asp-for="LowStock">Reportar Stock:</label>
                                        <input type="number" class="form-control w-100 w-md-45 readonly-input" asp-for="LowStock" placeholder="Reportar cuando llegue a.. " readonly />
                                        <span asp-validation-for="LowStock" class="text-danger mt-1 mt-md-0 ms-md-2"></span>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <!-- Sub-columna 1: Precio Compra -->
                                    <div class="col-md-6 d-flex flex-column flex-md-row align-items-start align-items-md-center">
                                        <label class="form-label me-md-2 mb-1 mb-md-0 w-100 w-md-55" asp-for="PurchasePrice">Precio Compra:</label>
                                        <input type="number" class="form-control w-100 w-md-45 readonly-input" asp-for="PurchasePrice" placeholder="Ingrese el precio de compra" readonly />
                                        <span asp-validation-for="PurchasePrice" class="text-danger mt-1 mt-md-0 ms-md-2"></span>
                                    </div>
                                    <!-- Sub-columna 2: Precio Venta -->
                                    <div class="col-md-6 d-flex flex-column flex-md-row align-items-start align-items-md-center">
                                        <label class="form-label me-md-2 mb-1 mb-md-0 w-100 w-md-55" asp-for="SalePrice">Precio Venta:</label>
                                        <input type="number" class="form-control w-100 w-md-45 readonly-input" asp-for="SalePrice" placeholder="Ingrese el precio de venta" readonly />
                                        <span asp-validation-for="SalePrice" class="text-danger mt-1 mt-md-0 ms-md-2"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Estatus -->
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" asp-for="Estatus">Estatus:</label>
                            <div class="col-sm-9">
                                <select class="form-control readonly-input text-white" asp-for="Estatus" disabled>
                                    <option value="1">Activo</option>
                                    <option value="0">Inactivo</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- Columna derecha con la imagen y URL -->
                    <div class="col-md-6">
                        <br /><br />
                        <!-- Imagen del Producto -->
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <div class="form-group text-center">
                                    @if (!string.IsNullOrEmpty(Model.Url))
                                    {
                                        <img src="@Model.Url" alt="Imagen del producto" class="img-fluid img-thumbnail" style="max-width: 250px; max-height: 250px; object-fit: cover;" />
                                    }
                                    else
                                    {

                                        var fallbackImages = new string[]
                                        {
                                    "/imgSystem/nou.png",
                                    "/imgSystem/LogoProductos1.jfif",
                                    "/imgSystem/LogoProductos2.jfif",
                                    "/imgSystem/LogoProductos3.jfif"
                                        };

                                        var randomIndex = new Random().Next(fallbackImages.Length);
                                        var selectedImage = fallbackImages[randomIndex];


                                        <img src="@selectedImage" alt="Imagen de remplazo" class="img-fluid custom-img mb-2" style="max-width: 250px; max-height: 250px; object-fit: cover;"  />
                                    }
                                </div>
                            </div>
                        </div>

                        <!-- URL del Producto -->
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" asp-for="Url">URL:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control readonly-input" asp-for="Url" readonly />
                            </div>
                        </div>
                        <br />
                        <hr class="linea-blanca" />
                        <!-- Botones de acción al final, alineados a la derecha -->
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-outline-danger font-weight-bold" data-toggle="modal" data-target="#descriptionModal">Eliminar</button>
                            <a asp-action="Index" class="btn btn-outline-secondary font-weight-bold ml-2">Volver a la lista</a>
                        </div>
                    </div>
                </div>
            </form>

            <!-- Modal para Descripción de Cambios -->
            <div class="modal fade" id="descriptionModal" tabindex="-1" role="dialog" aria-labelledby="descriptionModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title font-weight-bold text-danger" id="descriptionModalLabel">Confirmar Acción "Eliminar Producto"</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <p>¡Los productos eliminados no podrán ser procesados para futuras devoluciones o referencias!</p>
                                <p>Si tiene la intención de administrar este producto en el futuro, se sugiere editar el Estatus de "activo" a "inactivo".</p>
                                <label for="DescriptionCambio" class="h4">Descripción para el registro (opcional):</label>
                                <textarea class="form-control" id="DescriptionCambio" name="DescriptionCambio"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-outline-danger" onclick="submitForm()">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function submitForm() {
        const descriptionField = document.getElementById('DescriptionCambio');
        const descriptionValue = descriptionField.value.trim();

        // Si la descripción está vacía, asignar "Sin descripción"
        if (!descriptionValue) {
            descriptionField.value = "Sin descripción";
        }

        // Enviar el formulario
        const form = document.getElementById('deleteProductForm');
        const input = document.createElement('input');
        input.type = 'hidden';
        input.name = 'DescriptionCambio';
        input.value = descriptionField.value;

        form.appendChild(input);
        form.submit();
    }
</script>

