@model SysSoniaInventory.Models.ModelProduct

@{
    ViewData["Title"] = "Editar Producto";
}


<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">


            <form id="editProductForm" asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input type="hidden" asp-for="Id" />

                <div class="row">


                    <!-- Columna izquierda con los campos de detalle -->
                    <div class="col-md-6">
                        <div class="justify-content-center">
                            <h3 class="card-title text-warning font-weight-bold">Editar Producto</h3>
                        </div>
                        <hr class="linea-warning" />
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" asp-for="IdCategory">Categoría: </label>
                            <div class="col-sm-9">
                                <select class="form-control text-light" asp-for="IdCategory" asp-items="ViewBag.IdCategory"></select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" asp-for="IdProveedor">Proveedor: </label>
                            <div class="col-sm-9">
                                <select class="form-control text-light" asp-for="IdProveedor" asp-items="ViewBag.IdProveedor"></select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" asp-for="Name">Nombre: </label>
                            <div class="col-sm-9">
                                <input type="text" maxlength="100" class="form-control" asp-for="Name" placeholder="Ingrese el nombre" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" asp-for="Codigo">Código: </label>
                            <div class="col-sm-9">
                                <input type="number" maxlength="25" class="form-control " asp-for="Codigo" placeholder="Ingrese el código de producto" />
                                <span asp-validation-for="Codigo" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="row mb-3">
                                    <!-- Sub-columna 1: Stock -->
                                    <div class="col-md-6 d-flex flex-column flex-md-row align-items-start align-items-md-center">
                                        <label class="form-label me-md-2 mb-1 mb-md-0 w-100 w-md-55" asp-for="Stock">Stock:</label>
                                        <input type="number" class="form-control w-100 w-md-45 readonly-input" asp-for="Stock" placeholder="Ingrese la cantidad de stock" readonly />
                                        <span asp-validation-for="Stock" class="text-danger mt-1 mt-md-0 ms-md-2"></span>
                                    </div>
                                    <!-- Sub-columna 2: LowStock -->
                                    <div class="col-md-6 d-flex flex-column flex-md-row align-items-start align-items-md-center">
                                        <label class="form-label me-md-2 mb-1 mb-md-0 w-100 w-md-55" asp-for="LowStock">Reportar Stock:</label>
                                        <input type="number" class="form-control w-100 w-md-45" asp-for="LowStock" placeholder="Reportar cuando llegue a.. " />
                                        <span asp-validation-for="LowStock" class="text-danger mt-1 mt-md-0 ms-md-2"></span>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <!-- Sub-columna 1: Precio Compra -->
                                    <div class="col-md-6 d-flex flex-column flex-md-row align-items-start align-items-md-center">
                                        <label class="form-label me-md-2 mb-1 mb-md-0 w-100 w-md-55" asp-for="PurchasePrice">Precio Compra:</label>
                                        <input type="number" class="form-control w-100 w-md-45" asp-for="PurchasePrice" placeholder="Ingrese el precio de compra" />
                                        <span asp-validation-for="PurchasePrice" class="text-danger mt-1 mt-md-0 ms-md-2"></span>
                                    </div>
                                    <!-- Sub-columna 2: Precio Venta -->
                                    <div class="col-md-6 d-flex flex-column flex-md-row align-items-start align-items-md-center">
                                        <label class="form-label me-md-2 mb-1 mb-md-0 w-100 w-md-55" asp-for="SalePrice">Precio Venta:</label>
                                        <input type="number" class="form-control w-100 w-md-45" asp-for="SalePrice" placeholder="Ingrese el precio de venta" />
                                        <span asp-validation-for="SalePrice" class="text-danger mt-1 mt-md-0 ms-md-2"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" asp-for="Estatus">Estatus: </label>
                            <div class="col-sm-9">
                                <select class="form-control text-light" asp-for="Estatus">
                                    <option value="1" selected>Activo</option>
                                    <option value="0">Inactivo</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- Columna derecha con la imagen -->
                    <div class="col-md-6">
                        <br /><br />
                        <!-- Imagen del Producto -->
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <div class="form-group text-center">
                                    @if (!string.IsNullOrEmpty(Model.Url))
                                    {
                                        <img src="@Model.Url" alt="Imagen del producto" class="img-fluid img-thumbnail" style="max-width: 250px; max-height: 250px; object-fit: cover;" />
                                    }
                                    else
                                    {

                                        var fallbackImages = new string[]
                                        {
                                            "/imgSystem/nou.png",
                                            "/imgSystem/LogoProductos1.jfif",
                                            "/imgSystem/LogoProductos2.jfif",
                                            "/imgSystem/LogoProductos3.jfif"
                                        };

                                        var randomIndex = new Random().Next(fallbackImages.Length);
                                        var selectedImage = fallbackImages[randomIndex];


                                        <img src="@selectedImage" alt="Imagen de remplazo" class="img-fluid custom-img mb-2" style="max-width: 250px; max-height: 250px; object-fit: cover;" />
                                    }

                                </div>
                            </div>
                        </div>

                        <!-- Cargar Nueva Imagen -->
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="Url">Nueva Imagen: </label>
                            <div class="col-sm-9">
                                <div class="col-sm-9">
                                    <div class="input-group col-xs-12">
                                        <input type="file" name="imagen" class="file-upload-default" />
                                        <input type="text" class="form-control file-upload-info" disabled placeholder="Subir Imagen" />
                                        <span class="input-group-append">
                                            <button class="file-upload-browse btn btn-primary" type="button">Subir</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- URL del Producto -->
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" asp-for="Url">URL: </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control  readonly-input" asp-for="Url" placeholder="Ingrese la URL" readonly />
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="linea-warning" />
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-outline-warning font-weight-bold" data-toggle="modal" data-target="#descriptionModal"><i class="mdi mdi-file-check btn-icon-prepend"></i>Guardar</button>
                    <a asp-action="Stock" asp-route-id="@Model.Id" class="btn btn-outline-success font-weight-bold ml-2">
                        <i class="mdi mdi-view-dashboard btn-icon-prepend"></i> Stock
                    </a>

                    <a asp-action="Index" class="btn btn-outline-secondary font-weight-bold ml-2">Volver a la lista</a>
                </div>
            </form>

            <!-- Modal para Descripción de Cambios -->
            <div class="modal fade" id="descriptionModal" tabindex="-1" role="dialog" aria-labelledby="descriptionModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title font-weight-bold" id="descriptionModalLabel">Confirmar Acción</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="DescriptionCambio" class="h4">Descripción para el registro (opcional):</label>
                                <textarea class="form-control" maxlength="250" id="DescriptionCambio" name="DescriptionCambio"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-warning" onclick="submitForm()"><i class="mdi mdi-file-check btn-icon-prepend"></i>Guardar</button>
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
                           
                        </div>
                    </div>
                </div>
            </div>

            <script>
                function submitForm() {
                    const descriptionField = document.getElementById('DescriptionCambio');
                    const descriptionValue = descriptionField.value.trim();

                    if (!descriptionValue) {
                        descriptionField.value = "Sin descripción";
                    }

                    const form = document.getElementById('editProductForm');
                    const input = document.createElement('input');
                    input.type = 'hidden';
                    input.name = 'DescriptionCambio';
                    input.value = descriptionField.value;

                    form.appendChild(input);
                    form.submit();
                }
            </script>
        </div>
    </div>
</div>
