@model SysSoniaInventory.Models.ModelSucursal

@{
    ViewData["Title"] = "Details";
}
<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">

            <h3 class="card-title font-weight-bold">Detalles de la Sucursal</h3>

            <dl class="row">
                <dt class="col-sm-3">Nombre</dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt class="col-sm-3">Dirección</dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Address)
                </dd>
            </dl>

            <div class="d-flex justify-content-end">
                <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-outline-primary font-weight-bold">Editar</a>
                <a asp-action="Index" class="btn btn-outline-secondary font-weight-bold ml-2">Regresar</a>
            </div>

        </div>
    </div>
</div>