@model SysSoniaInventory.Models.ModelMarca

@{
    ViewData["Title"] = "Delete";
}

<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title font-weight-bold text-danger">Eliminar Marca</h3>
            <p class="text-warning font-weight-bold">¿Está seguro de que desea eliminar esta marca?</p>
            <hr class="linea-danger" />
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Nombre:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control readonly-input" value="@Model.Name" readonly />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Descripción:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control readonly-input" value="@Model.Description" readonly />
                    </div>
                </div>

                <hr class="linea-danger" />
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-outline-danger font-weight-bold">
                        <i class="mdi mdi-delete-forever btn-icon-prepend"></i>Eliminar
                    </button>
                    <a asp-action="Index" class="btn btn-outline-secondary font-weight-bold ml-2">Volver a la lista</a>
                </div>
            </form>
        </div>
    </div>
</div>
