@model SysSoniaInventory.Models.ModelUser

@{
    ViewData["Title"] = "Create";
}

<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title text-primary  font-weight-bold">Crear Usuario</h3>
            <hr class="linea-primary" />
            <form asp-action="Create" class="form-sample">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" asp-for="IdRol">Rol: </label>
                            <div class="col-sm-9">
                                <select class="form-control" asp-for="IdRol" asp-items="ViewBag.IdRol" required></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" asp-for="IdSucursal">Sucursal: </label>
                            <div class="col-sm-9">
                                <select class="form-control" asp-for="IdSucursal" asp-items="ViewBag.IdSucursal" required></select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" asp-for="Name">Nombre: </label>
                            <div class="col-sm-9">
                                <input type="text" maxlength="50" class="form-control" asp-for="Name" placeholder="Ingrese el nombre" required />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" asp-for="LastName">Apellido: </label>
                            <div class="col-sm-9">
                                <input type="text" maxlength="50" class="form-control" asp-for="LastName" placeholder="Ingrese el apellido" required />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" asp-for="Email">Correo: </label>
                            <div class="col-sm-9">
                                <input type="email" maxlength="75" class="form-control" asp-for="Email" placeholder="Ingrese el correo" required />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" asp-for="Tel">Teléfono: </label>
                            <div class="col-sm-9">
                                <input type="tel" minlength="8" class="form-control" asp-for="Tel" placeholder="Ingrese el teléfono" />
                                <span asp-validation-for="Tel" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" asp-for="Password">Contraseña: </label>
                            <div class="col-sm-9">
                                <input type="password" maxlength="20" minlength="8" class="form-control" asp-for="Password" placeholder="Ingrese la contraseña" required />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" asp-for="Estatus">Estatus: </label>
                            <div class="col-sm-9">
                                <select class="form-control" asp-for="Estatus">
                                    <option value="1" selected>Activo</option>
                                    <option value="0">Inactivo</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" asp-for="RegistrationDate">Fecha de Registro: </label>
                            <div class="col-sm-9">
                                <input type="date" class="form-control" asp-for="RegistrationDate" />
                                <span asp-validation-for="RegistrationDate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="linea-primary" />
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-outline-primary font-weight-bold"><i class="mdi mdi-file-check btn-icon-prepend"></i>Guardar</button>
                    <a asp-action="Index" class="btn btn-outline-secondary font-weight-bold ml-2">Volver a la lista</a>
                </div>
            </form>
        </div>
    </div>
</div>