@model SysSoniaInventory.Models.ModelUser

@{
    ViewData["Title"] = "Edit";
}

<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title text-success font-weight-bold">Editar mi información</h3>
            <hr class="linea-success" />
            <form id="editUserForm" asp-action="EditInfoPerso" class="form-sample" enctype="multipart/form-data">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="RegistrationDate" />
                <input type="hidden" asp-for="Estatus" />
                <input type="hidden" asp-for="Password" />
                <input type="hidden" asp-for="Estatus" />

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" asp-for="IdRol">Rol: </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control readonly-input" value="@($"{Model.IdRolNavigation.Name} - {Model.IdRolNavigation.AccessTipe}")" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" asp-for="IdSucursal">Sucursal: </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control readonly-input" asp-for="IdSucursalNavigation.Name" readonly />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label text-light" asp-for="Name">Nombre: </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control readonly-input" asp-for="Name" placeholder="Ingrese el nombre" readonly />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" asp-for="LastName">Apellido: </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control readonly-input" asp-for="LastName" placeholder="Ingrese el apellido" readonly />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" asp-for="Tel">Teléfono: </label>
                            <div class="col-sm-9">
                                <input type="text" minlength="8" class="form-control" asp-for="Tel" placeholder="Ingrese el teléfono" />
                                <span asp-validation-for="Tel" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" asp-for="Email">Correo: </label>
                            <div class="col-sm-9">
                                <input type="email" maxlength="75" class="form-control text-light" asp-for="Email" placeholder="Ingrese el correo" required />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

            

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="currentPasswordIdentity">Contraseña de validación:</label>

                            <div class="col-sm-9">
                                <input type="password" maxlength="20" minlength="8" class="form-control" id="currentPasswordIdentity" name="currentPasswordIdentity" placeholder="Contraseña para validar identidad" required />

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group row">
                           
                        </div>
                    </div>


                   
                </div>
                <hr class="linea-success" />
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-outline-success font-weight-bold"><i class="mdi mdi-minecraft btn-icon-prepend"></i> Guardar</button>
                    <a asp-controller="Auth" asp-action="ChangePassword" class="btn btn-outline-info font-weight-bold ml-2"><i class="mdi mdi-key-change btn-icon-prepend"></i>Modificar contraseña</a>
                    <a asp-action="Index" class="btn btn-outline-secondary font-weight-bold ml-2">Volver a la lista</a>
                </div>
            </form>
        </div>
    </div>
</div>