@model SysSoniaInventory.Models.ModelReport

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ModelReport</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TypeReport" class="control-label"></label>
                <input asp-for="TypeReport" class="form-control" />
                <span asp-validation-for="TypeReport" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estatus" class="control-label"></label>
                <input asp-for="Estatus" class="form-control" />
                <span asp-validation-for="Estatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameUser" class="control-label"></label>
                <input asp-for="NameUser" class="form-control" />
                <span asp-validation-for="NameUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComentaryUser" class="control-label"></label>
                <input asp-for="ComentaryUser" class="form-control" />
                <span asp-validation-for="ComentaryUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StarDate" class="control-label"></label>
                <input asp-for="StarDate" class="form-control" />
                <span asp-validation-for="StarDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StarTime" class="control-label"></label>
                <input asp-for="StarTime" class="form-control" />
                <span asp-validation-for="StarTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdRelation" class="control-label"></label>
                <input asp-for="IdRelation" class="form-control" />
                <span asp-validation-for="IdRelation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

