@model SysSoniaInventory.Models.ModelRol

@{
    ViewData["Title"] = "Create";
}

<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">

            <h3 class="card-title text-primary font-weight-bold">Crear Rol</h3>
            <hr class="linea-primary" />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label text-light" asp-for="Name">Nombre del Rol</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" maxlength="30" asp-for="Name" placeholder="Ingrese el rol" required />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" asp-for="AccessTipe">Tipo de Acceso</label>
                            <div class="col-sm-10">
                                <select class="form-control text-light" asp-for="AccessTipe" required>
                                    <option value="" disabled selected>Seleccione un nivel de acceso</option>
                                    <option value="Nivel 1">Nivel 1 - Acceso Restringido (Acceso al sistema pero sin poder ver o modificar información)</option>
                                    <option value="Nivel 2">Nivel 2 - Acceso Básico (Acceso a gestión de ventas e información de productos limitado)</option>
                                    <option value="Nivel 3">Nivel 3 - Acceso Intermedio (Acceso a información y modificaciones básicas)</option>
                                    <option value="Nivel 4">Nivel 4 - Acceso Total (Todo permitido)</option>
                                </select>

                                <span asp-validation-for="AccessTipe" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="linea-primary" />
                <div class="d-flex justify-content-end">
                    <button type="submit" value="Create" class="btn btn-outline-primary font-weight-bold"><i class="mdi mdi-file-check btn-icon-prepend"></i>Guardar</button>
                    <a asp-action="Index" class="btn btn-outline-secondary font-weight-bold ml-2">Volver a la lista</a>
                </div>
        </form>
    </div>
</div>

</div>

