@model SysSoniaInventory.Models.ModelRol

@{
    ViewData["Title"] = "Details";
}

<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">

            <h3 class="card-title text-info  font-weight-bold">Detalles del Rol</h3>
            <hr class="linea-info" />
            <form>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label text-light" asp-for="Name">Nombre del Rol</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control readonly-input" asp-for="Name" value="@Model.Name" readonly />
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" asp-for="AccessTipe">Tipo de Acceso</label>
                            <div class="col-sm-10">
                                <select class="form-control text-light readonly-input" asp-for="AccessTipe" disabled>
                                    <option value="Nivel 1">Nivel 1 - Acceso Restringido (Acceso al sistema pero sin poder ver o modificar información)</option>
                                    <option value="Nivel 2">Nivel 2 - Acceso Básico (Acceso a gestión de ventas e información de productos limitado)</option>
                                    <option value="Nivel 3">Nivel 3 - Acceso Intermedio (Acceso a información y modificaciones básicas)</option>
                                    <option value="Nivel 4">Nivel 4 - Acceso Total (Todo permitido)</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <hr class="linea-info" />
            <div class="d-flex justify-content-end">
                <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-outline-warning font-weight-bold"><i class="mdi mdi-file-restore btn-icon-prepend"></i>Editar</a>
                <a asp-action="Index" class="btn btn-outline-secondary font-weight-bold ml-2">Volver a la lista</a>
            </div>

        </div>
    </div>
</div>
