/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
*/

            .form-control:focus {
                color: white !important;
            }

            .readonly-input{
                background-color: black !important;
                
            }

        th {
            color: #ffffff !important; /* Cambia el color del texto a blanco */
        }
        /* Estilos del modo claro */
        .light-theme {
            --sidebar-bg: #ffffff;
            --sidebar-text: #000000;
            --navbar-bg: #f8f9fa;
            --navbar-text: #000000;
            --body-bg: #f5f5f5;
            --body-text: #000000;
        }

        body.light-theme {
            background-color: var(--body-bg);
            color: var(--body-text);
        }

            body.light-theme .navbar {
                background-color: var(--navbar-bg);
                color: var(--navbar-text);
            }

            body.light-theme .sidebar {
                background-color: var(--sidebar-bg);
                color: var(--sidebar-text);
            }

                body.light-theme .sidebar .nav-link {
                    color: var(--sidebar-text);
                }
        /* Tema claro */
        .light-theme .card {
            background-color: #ffffff;
            color: #000000;
            border: 1px solid #dddddd;
        }

        .light-theme .table-striped tbody tr {
            background-color: #f9f9f9;
        }

            .light-theme .table-striped tbody tr:nth-child(even) {
                background-color: #ffffff;
            }

            .light-theme .table-striped tbody tr.hover {
                background-color: #eaeaea; /* Color de hover para modo claro */
            }

        /* Tema oscuro */
        .dark-theme .card {
            background-color: #2a2a2a;
            color: #ffffff;
            border: 1px solid #444444;
        }

        .dark-theme .table-striped tbody tr {
            background-color: #333333;
        }

            .dark-theme .table-striped tbody tr:nth-child(even) {
                background-color: #3a3a3a;
            }

            .dark-theme .table-striped tbody tr.hover {
                background-color: #444444; /* Color de hover para modo oscuro */
            }

.linea-blanca {
    background-color: white; /* Color de la línea */
}