@model SysSoniaInventory.Models.ModelProveedor

@{
    ViewData["Title"] = "Create";
}

<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">

            <h3 class="card-title font-weight-bold">Crear Proveedor</h3>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label text-light" asp-for="Name">Nombre del proveedor: </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" asp-for="Name" placeholder="Ingrese el nombre del proveedor" required />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label text-light" asp-for="Description">Descripción: </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" asp-for="Description" placeholder="Ingrese una descripción (opcional)" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label text-light" asp-for="Tel">Teléfono: </label>
                            <div class="col-sm-9">
                                <input type="tel" class="form-control" asp-for="Tel" placeholder="Ingrese un numero de teléfono" />
                                <span asp-validation-for="Tel" class="text-danger"></span>
                            </div>
                        </div>
                    </div> 

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label text-light" asp-for="Email">Email: </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" asp-for="Email" placeholder="Ingrese un correo electrónico" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                    </div>



                  
                </div>
                <div class="d-flex justify-content-end">
                    <button type="submit" value="Create" class="btn btn-outline-primary font-weight-bold">Guardar</button>
                    <a asp-action="Index" class="btn btn-outline-secondary font-weight-bold ml-2">Volver a la lista</a>
                </div>
        </form>
    </div>
</div>
</div>
