@model SysSoniaInventory.Models.ModelProveedor

@{
    ViewData["Title"] = "Details";
}
<style>
    .textarea-create {
        resize: none;
        height: 150px !important;
        overflow-y: auto;
        word-wrap: break-word;
    }
</style>
<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title text-info font-weight-bold">Detalles del Proveedor</h3>
            <hr class="linea-info" />
            <form>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Nombre:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control readonly-input" asp-for="Name" readonly />
                            </div>
                        </div>
                    </div>
                   
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Teléfono:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control readonly-input" asp-for="Tel" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Correo Electrónico:</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control readonly-input" asp-for="Email" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">

                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label">Descripción:</label>
                            <div class="col-sm-12">
                                <textarea class="form-control textarea-create  readonly-input" maxlength="1000" asp-for="Description" readonly></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="linea-info" />
                <div class="d-flex justify-content-end">
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-warning font-weight-bold"><i class="mdi mdi-file-restore btn-icon-prepend"></i>Editar</a>
                    <a asp-action="Index" class="btn btn-outline-secondary font-weight-bold ml-2">Volver a la lista</a>
                </div>
            </form>
        </div>
    </div>
</div>