@model SysSoniaInventory.Models.ModelProveedor

@{
    ViewData["Title"] = "Edit";
}

<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title text-warning font-weight-bold">Editar Proveedor</h3>
            <hr class="linea-warning" />
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label text-light" asp-for="Name">Nombre de la Sucursal:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" asp-for="Name" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label text-light" asp-for="Description">Descripción:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" asp-for="Description" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label text-light" asp-for="Tel">Número de teléfono:</label>
                            <div class="col-sm-9">
                                <input type="tel" class="form-control" asp-for="Tel" />
                                <span asp-validation-for="Tel" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label text-light" asp-for="Email">Email:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" asp-for="Email" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="linea-warning" />
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-outline-warning font-weight-bold"><i class="mdi mdi-file-check btn-icon-prepend"></i>Guardar</button>
                    <a asp-action="Index" class="btn btn-outline-secondary font-weight-bold ml-2">Volver a la lista</a>
                </div>
            </form>
        </div>
    </div>
</div>